.body-main-container{
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
    background-color: chartreuse;
}
.body-header-container-parent{
    display: flex;
    flex: 0.1;
    background-color: darkseagreen;
}
.body-top-container-parent{
    display: flex;
    flex: 0.45;
}
.body-bottom-container-parent{
    display: flex;
    flex: 0.45;
}